<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.broulims.broulims">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FrontPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".displayList"/>
        <activity android:name=".DatabaseView"/>
        <activity android:name=".search_test"/>
        <activity
            android:name=".IndoorDemoActivity"
            android:label="@string/indoor_demo_label"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAb8OpWS-u84lxZNu4VEzHmYlnOBIiMNaY"/>

        <activity android:name=".WebsiteView">
        </activity>
    </application>

</manifest>